.Blurb {
    text-transform: uppercase;
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    grid-row-start: 3;
    grid-column-start: 2;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding-top: 10px;
    width: 100%;
}

.blurb hr {
    margin: auto;
    margin-top: 40px;
}

h2 {
    font-family: Consolas;
    font-weight: normal;
    text-decoration: none;
    text-transform: lowercase;
}

.photo {
    width: 150px;
    padding: 15px 0px;
    margin: auto;
}

.about-me {
    font-family: Consolas;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    animation-name: load-text;
    animation-duration: 2s;
}

@keyframes load-text {
    0% {color: white;}
    10% {color: rgb(229, 229, 229);}
    20% {color: rgb(203, 203, 203);}
    30% {color: rgb(177, 177, 177);}
    40% {color: rgb(151, 151, 151);}
    50% {color: rgb(125, 125, 125);}
    60% {color: rgb(99, 99, 99);}
    70% {color: rgb(73, 73, 73);}
    80% {color: rgb(47, 47, 47);}
    90% {color: rgb(21, 21, 21);}
    100% {color: black;}
}

.todo {
    display: none;
}

button a{
    display:block;
    color: black;
    text-decoration: none;
    background-color: none;
    transition: background-color .25s;
    border-radius: 13px;
}