.Navbar {
    margin: 0px 10px;
    padding: 10px;
    text-transform: uppercase;
    grid-column-start: 2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float:right;
}

li {
    float:left;
    display: inline;
    background-color: #222;
}

li a {
    display:block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}